* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #19B37E  white ;
    backgroud-color: #ffffff;
}